$color-primary: #6599FF;
$color-secondary: #FAFAFA;
$color-tertiary: #2B3E42;

$font-primary: 'menlo', 'andale mono', 'Lucidia Console', 'Source Code Pro', monospace;

$visualizer-width: 450px;
$header-height: 45px;
